# Local erraform dirs
**/.terraform/*

# tfstate
*.tfstate
*.tfstate.*

override.tf
override.tf.json

# crash logs
crash.log
crash.*.log

.terraform.lock.hcl

*.tfvars
*.tfvars.json

.terraformrc
terraform.rc
